section#home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

    /*  */
    #wrap {
        position: relative;
        width: 380px;
        height: 450px;
        border-radius: 8px;
        background-color: rgba(37, 37, 37, 0.144);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 80px 0;

        -webkit-box-shadow: 7px 10px 25px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 7px 10px 25px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 7px 10px 25px 0px rgba(0, 0, 0, 0.75);

        /*  */
        #inputs {
            display: flex;

            /*  */
            >input {
                height: 50px;
                font-size: 24px;
                outline: none;
                border: none;
                text-align: center;

                /*  */
                &+input {
                    border-left: 1px solid #878787;
                }

                &::placeholder {
                    font-size: 16px;
                    text-justify: center;
                }
            }

            #pais {
                width: 50px;
                border-radius: 8px 0 0 8px;
            }

            #ddd {
                width: 50px;
                /*  */
            }

            #numero {
                width: 160px;
                border-radius: 0 8px 8px 0;
                /*  */
            }
        }
    }

    #comandos {
        // background-color: rebeccapurple;
        background-color: white;

        border-radius: 9px;
        display: flex;
        height: 80px;
        width: 150px;
        justify-content: center;
        align-items: center;
    }

    .comando {
        &+.comando {
            margin-left: 20px;
        }
    }

    #link {
        height: 30px;
        width: 180px;
        background-color: rgb(61, 61, 61);
        text-align: center;
        border-radius: 8px;
        background-color: #39fc39;
        display: flex;
        align-items: center;
        justify-content: space-around;

        /*  */
        #show_numero {
            font-size: 14px;
            font-weight: bold;
            color:  #3d3d3d;;
        }

        svg {
            fill: #fff;
            height: 100%;
            width: 20px;
        }
    }

    #versao {
        position: absolute;
        bottom: 3px;
        right: 3px;
        color: rgb(53, 53, 53);
        font-size: 16px;
    }
}